# Dam Problem

## Scenarios for training
Use Latin Hypercube sampling to sample 200 scenarios for both EA and model-free DQN to train their policies

In [1]:
import sys, random
sys.path.append("../")
import numpy as np
from EMAWorkbench.em_framework import sample_uncertainties
import pandas as pd
from models.ema_dam_uncertain1 import dam_uncertain_problem1
from utils.ea.create_models import create_dam_robust_training

random_seed = 3186775264
random_seed = random_seed
random.seed(random_seed)
np.random.seed(random_seed)
dam_model, _ = create_dam_robust_training(problem=dam_uncertain_problem1, random_seed=random_seed)

fixed_scenarios_num = 200
training_scenarios = sample_uncertainties(dam_model, fixed_scenarios_num)
scenarios_df = pd.DataFrame(training_scenarios, columns=training_scenarios.params)
scenarios_df.to_csv('../results/dam_scenarios/train_scenarios_rl.csv', index=False)
scenarios_df

         s_init
0    164.764069
1    163.329084
2    132.561850
3    134.602561
4    184.301308
..          ...
195  169.201454
196  199.992271
197  179.608782
198  198.304384
199  166.514866

[200 rows x 1 columns]

## Scenarios for evaluation
Use Latin Hypercube sampling to sample 5,000 scenarios to evaluate the performance of policies

In [2]:
import sys, random
sys.path.append("../")
import numpy as np
from EMAWorkbench.em_framework import sample_uncertainties
import pandas as pd
from models.ema_dam_uncertain1 import dam_uncertain_problem1
from utils.ea.create_models import create_dam_robust_training

random_seed = 3186775264
random_seed = random_seed
random.seed(random_seed)
np.random.seed(random_seed)
dam_model, _ = create_dam_robust_training(problem=dam_uncertain_problem1, random_seed=random_seed)

fixed_scenarios_num = 1000
training_scenarios = sample_uncertainties(dam_model, fixed_scenarios_num)
scenarios_df = pd.DataFrame(training_scenarios, columns=training_scenarios.params)
scenarios_df.to_csv('../results/dam_scenarios/evaluation_scenarios.csv', index=False)
scenarios_df

         s_init
0    155.321773
1    126.723411
2    136.122819
3    164.708120
4    165.943724
..          ...
995  199.910831
996  131.942802
997  176.601969
998  129.312759
999  159.885022

[1000 rows x 1 columns]

# Lake Problem

## Scenarios for training
Use Latin Hypercube sampling to sample 200 scenarios for both EA and model-free DQN to train their policies

In [1]:
import sys, random
sys.path.append("../")
import numpy as np
from EMAWorkbench.em_framework import sample_uncertainties
import pandas as pd
from models.ema_lake4_uncertain import lake4_uncertain_problem
from utils.ea.create_models import create_lake4_deep_training

random_seed = 3186775264
random_seed = random_seed
random.seed(random_seed)
np.random.seed(random_seed)
lake_model, _ = create_lake4_deep_training(problem=lake4_uncertain_problem, random_seed=random_seed)

fixed_scenarios_num = 50
training_scenarios = sample_uncertainties(lake_model, fixed_scenarios_num)
scenarios_df = pd.DataFrame(training_scenarios, columns=training_scenarios.params)
scenarios_df.to_csv('../results/lake_scenarios/train_scenarios_rl1.csv', index=False)
scenarios_df

           b     delta      mean         q     stdev
0   0.344837  0.937390  0.030064  4.191017  0.001432
1   0.247224  0.980297  0.036702  2.332271  0.004034
2   0.232072  0.988423  0.012242  4.040462  0.003209
3   0.377166  0.941674  0.044631  3.650640  0.003433
4   0.222507  0.974690  0.010996  3.575327  0.002924
5   0.282974  0.932961  0.042093  2.049502  0.004273
6   0.303757  0.968614  0.025508  2.482491  0.004452
7   0.195122  0.948971  0.028597  3.469729  0.001572
8   0.421578  0.959323  0.031979  2.631556  0.001202
9   0.108099  0.986455  0.034207  2.158666  0.002308
10  0.332278  0.955592  0.049511  4.478652  0.003819
11  0.198462  0.965255  0.046309  3.081564  0.001957
12  0.271016  0.931066  0.018233  4.381777  0.002580
13  0.172826  0.958308  0.013613  2.808369  0.002024
14  0.313005  0.943391  0.033625  3.203888  0.004928
15  0.255759  0.984485  0.021018  3.190484  0.002851
16  0.159993  0.972073  0.039032  2.564108  0.003333
17  0.123127  0.952663  0.016843  2.973214  0.001676
18  0.436768  0.949806  0.026608  2.298197  0.004546
19  0.134568  0.977380  0.023221  3.954348  0.002136
20  0.422564  0.935383  0.015719  4.286427  0.004755
21  0.399273  0.967259  0.038713  3.735672  0.002621
22  0.144520  0.945463  0.040613  3.324591  0.003667
23  0.393138  0.961360  0.021283  2.759063  0.004128
24  0.352230  0.982417  0.047726  3.807819  0.001045

## Scenarios for evaluation
Use Latin Hypercube sampling to sample 5,000 scenarios to evaluate the performance of policies

In [2]:
import sys, random
sys.path.append("../")
import numpy as np
from EMAWorkbench.em_framework import sample_uncertainties
import pandas as pd
from models.ema_lake4_uncertain import lake4_uncertain_problem
from utils.ea.create_models import create_lake4_deep_training

random_seed = 3186775264
random_seed = random_seed
random.seed(random_seed)
np.random.seed(random_seed)
lake_model, _ = create_lake4_deep_training(problem=lake4_uncertain_problem, random_seed=random_seed)

fixed_scenarios_num = 1000
evaluation_scenario = sample_uncertainties(lake_model, fixed_scenarios_num)
scenarios_df = pd.DataFrame(evaluation_scenario, columns=evaluation_scenario.params)
scenarios_df.to_csv('../results/lake_scenarios/evaluation_scenarios.csv', index=False)
scenarios_df

            b     delta      mean         q     stdev
0    0.254533  0.985334  0.043231  2.900781  0.004956
1    0.129415  0.962362  0.035817  3.287626  0.001280
2    0.170537  0.939702  0.014231  2.217777  0.001227
3    0.295598  0.951422  0.046592  4.338512  0.002906
4    0.301004  0.968941  0.012889  2.055401  0.002647
..        ...       ...       ...       ...       ...
995  0.449610  0.939729  0.048906  3.269578  0.004130
996  0.152250  0.953008  0.032676  3.729308  0.002346
997  0.347634  0.988382  0.035752  3.323538  0.003858
998  0.140743  0.956241  0.010261  2.764555  0.003629
999  0.274497  0.938169  0.019688  2.974017  0.001264

[1000 rows x 5 columns]